* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: hsl(47, 88%, 63%);

  font-family: 'Figtree', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.course-preview {
  width: 380px;
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-direction: column;
  background: white;
  border: 1px solid black;
  border-radius: 18px;

  box-shadow: 9px 9px rgba(0, 0, 0, 100%);
}

.logo {
  width: 100%;
  border-radius: 10px;
}


.course-label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;

  .course-path {
    font-weight: 800;
    width: min-content;
    padding: 6px 10px;
    background-color: hsl(47, 88%, 63%);
    text-decoration: none;
    border-radius: 3px;
  }
  .published-date {
    font-weight: 500;
    font-size: 14px;
  }
}

.course-title {
  font-size: 1.5em;
  font-weight: 800;
  cursor: pointer;

  &:hover {
    color: hsl(47, 88%, 63%);
  }
}

.course-description {
  line-height: 1.5;
  font-size: 1em;
  color: hsl(0, 0%, 50%);
  font-weight: 500;
}

.course-instructor {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 800;

  img {
    width: 32px;
  }
}
